@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;400&family=Arvo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  gap: 2rem;
}

.absolute {
  position: absolute;
  top: 8rem;
  left: 5rem;
}

.relative {
  position: relative;
  left: 4rem;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 1rem;
  position: relative;
}

.navbar a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #1e1e1e;
  font-family: Arvo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar a:hover {
  color: rgba(27, 27, 27, 0.25);
  transition: all 0.8s;
}

.header_content {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 9rem;
  margin-left: 2rem;

  transform: translateX(5rem);
  transition: transform 3s ease-in-out;
}

.heading_1 {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Arima;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading_2 {
  color: #000;
  font-family: Arima;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading_2 span {
  color: #7b4747;
}

.header_content img {
  height: 38rem;
  width: 45rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(-5rem);
  transition: transform 3s ease-in-out;
}

.project-section {
  background-color: rgb(231, 231, 231);
  padding: 12px;
}

.project-section h2 {
  text-align: center;
  font-size: 3rem;
  padding: 12px;
  font-family: Arvo;
}

.project_card {

  box-shadow: 4px 8px 24px -9px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 4px 8px 24px -9px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 4px 8px 24px -9px rgba(0, 0, 0, 0.87);
  -webkit-border-top-left-radius: 11px;
  -webkit-border-top-right-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-topright: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  overflow: hidden;

}

.project {
  display: flex;
  gap: 2rem;

}

.project_card h2 {
  text-align: start;
  padding: 12px;
  font-family: Arvo;
  font-size: 2rem;
}

.project_card p {
  text-align: start;
  padding: 12px;
  font-family: Arima;
}

.project_card img {
  width: 100%;
  height: 20rem;
}

.project_card {
  width: 24rem;

  transition: all 1s;
}

.project_card:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.skills {
  background-color: rgb(231, 231, 231);
  padding: 12px;
}

.skills h2 {
  font-family: Arvo;
  text-align: center;
  font-size: 2rem;
  padding: 12px;
}

.skills span {
  color: #7b4747;
}

.my_skills {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}

.my_skills img {
  width: 6.5rem;
  transition: all .7s;
}

.my_skills img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.6);
  cursor: pointer;
}